<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Phong thủy tốt</title>
		<link rel="stylesheet" type="text/css" href="css/main.css" />
	</head>
	<body>
		<div id="wrapper">
		<!-- header -->
			<div id="header">
		<!-- top menu -->
				<div id="top-menu">
					<div id="icon">
						<img id="icon" src="images/web/icons/icon.png" />

					</div>
					<div style="padding:5px;margin:10px;width:300px;float:left">
						<h1><i>Phong thủy tốt</i></h1>
						<h3>Phong thủy cho người Việt</h3>
					</div>
					<div id="search_box">
							<input type="textbox" value="" id="txtSearchBox" placeholder="Tìm kiếm" size="35" />
					</div>
				</div>
		<!-- end #top menu -->
		<!-- main menu 1 -->
				<div>
					<ul id="menu">
						<li><a href="#">Trang chủ</a></li>
						<li><a href="#">Giới thiệu</a></li>
						<li><a href="#">Tin tức</a></li>
						<li><a href="#">Tra cứu</a></li>
						<li><a href="#">Hỗ trợ - Tư vấn</a></li>
						<li><a href="#">Hòm thư góp ý</a></li>
					</ul>
				</div>
		<!-- end #main menu 1 -->
		<!-- main menu 2-->
					<ul id="main_menu">
                        <li>
                            <a href="">Cửa hàng</a>
                            <ul class="sub_menu">
                                <li><a href="">Vật phẩm phong thủy</a>
                                    <ul class="sub_menu">
                                        <li><a href="">Ý nghĩa các vật phẩm</a></li>
                                        <li><a href="">Mua hàng online</a>
                                            <ul class="sub_menu">
                                                <li><a href="">Vật phẩm may mắn</a></li>
                                                <li><a href="">Tỳ Hưu phong thủy</a></li>
                                                <li><a href="">Linh vật phong thủy</a></li>
                                                <li><a href="">Trang sức phong thủy</a>
                                                    <ul class="sub_menu">
                                                        <li><a href="">Vòng tay</a></li>
                                                        <li><a href="">Chuỗi hạt</a></li>
                                                        <li><a href="">Ngọc bội</a></li>
                                                        <li><a href="">Móc khóa</a></li>
                                                    </ul></li>
                                                <li><a href="">Thiềm Thừ phong thủy</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="">Vật phẩm phong thủy năm 2017</a></li>
                                        <li><a href="">5 lý do để bạn mua hàng</a></li>
                                    </ul>
                                </li>
                                <li><a href="">Tranh phong thủy</a></li>
                                <li><a href="">Sách phong thủy</a></li>
                            </ul>
                        </li>
                        <li><a href="">Âm dương tập luận</a>
							<ul class="sub_menu">
                                <li><a href="">Phong thủy</a>
                                    <ul class="sub_menu">
                                        <li><a href="">Phong thủy nhà ở</a></li>
                                        <li><a href="">Phong thủy công sở</a></li>
                                        <li><a href="">Cách bài trí đồ đạc</a></li>
                                        <li><a href="">Phong thủy phương Tây</a></li>
                                    </ul>
                                </li>
                                <li><a href="">Âm dương</a></li>
                                <li><a href="">Âm trạch</a></li>
								<li><a href="">Bốc dịch</a></li>
								<li><a href="">Xem tướng pháp</a></li>
								<li><a href="">Các bài văn cúng</a></li>
								<li><a href="">Giải mã giấc mơ</a></li>
                            </ul>
						</li>
                        <li><a href="">Cải tạo vận mệnh</a>
							<ul class="sub_menu">
                                <li><a href="">Các con số</a></li>
                                <li><a href="">Chọn vợ chọn chồng</a></li>
								<li><a href="">Chọn đối tác</a></li>
								<li><a href="">Màu sắc</a></li>
								<li><a href="">Phương hướng</a></li>
								<li><a href="">Trang phục</a></li>
								<li><a href="">Đặt tên con</a></li>
								<li><a href="">Đặt tên công ty</a></li>
                            </ul>
						</li>
                        <li><a href="">Phong thủy luận</a>
							<ul class="sub_menu">
                                <li><a href="">Bát trạch</a></li>
                                <li><a href="">Cấm kỵ và hóa giải</a></li>
								<li><a href="">Giới thiệu</a></li>
								<li><a href="">Huyền không</a></li>
								<li><a href="">Lịch sử phát triển</a></li>
								<li><a href="">Thiên địa nhân</a></li>
                            </ul>
						</li>
                        <li><a href="">Xem phong thủy</a></li>
                        <li><a href="">Xem tử vi</a></li>
                    </ul>
		<!-- end #main-menu 2 -->
			</div>
		<!-- end header -->
		
		<div id="content">
			<div class="rows">
				<div class="slider">
						<img style="width:500px;height:250px;margin-left:7px;float:left;margin-bottom:25px" src="images/web/sliders/slide.jpg" />
						<div class="news">
							<h2>
							<a href="">Tượng Gà Phong Thủy với 81 siêu phẩm cực đẹp và ý nghĩa sẵn sàng cùng bạn đón may mắn năm Đinh Dậu 2017</a>
							</h2>
							<div class="ha1">
								<a href=""><img width="100px" height="100px" src="images/products/G001A-120x120.jpg"></a>
							</div>
							<p class="bv1">Hệ thống Cửa hàng Vật Phẩm Phong Thủy xin gửi đến bạn đọc hình ảnh chụp các kiểu Tượng Gà Phong Thủy có chất liệu bằng bột đá nhập mới về, hiện đang có hàng, chúc các bạn sớm thỉnh được một “linh kê” để sử dụng hoặc làm quà tặng như ý!
								<a href=""><u>read more >></u></a>
							</p>
							
							<h2>
							<a href="">Tương Truyền về Tỳ Hưu : Con vật linh thiêng Số Một mang lại may mắn về Tài lộc – Công danh</a>
							</h2>
							<div class="ha1">
								<a href=""><img width="100px" height="100px" src="images/products/ty-huu-ngoc-phi-thuy-01.jpg"></a>
							</div>
							<p class="bv1">Tương truyền, thời vua Minh Thái Tổ khi lập nghiệp gặp lúc ngân khố cạn kiệt, vua rất lo lắng. Trong giấc mơ vàng, vua thấy có con vật đầu lân mình to, chân to lại có sừng trên đầu xuất hiện ở khu vực phía trước cung điện nuốt nhanh những thỏi vàng ròng sáng chói mang vào trong cung vua..
								<a href=""><u>read more >></u></a>
							</p>
							
							<h2>
							<a href="">Vật phẩm phong thủy cát tường: Đón lành, Tránh dữ – năm 2017 Đinh Dậu và suốt đời</a>
							</h2>
							<div class="ha1">
								<a href=""><img width="100px" height="100px" src="images/products/phat-di-lac-y091.jpg"></a>
							</div>
							<p class="bv1">Những Vật Phẩm Phong Thủy mang ý nghĩa cát tường là giải pháp để đón lành, tránh dữ, giúp cho gia đình được bình an, may mắn về tài lộc, công danh, sức khỏe và tràn đầy hạnh phúc. Phòng khách là nơi dừng khí và tiếp nhận các dòng khí xấu hoặc tốt đi vào nhà..
								<a href=""><u>read more >></u></a>
							</p>
						</div>
				</div>
				<div class="kn">
					<h2 class="title">PHONG THỦY LÀ GÌ?</h2>
					<p>Phong Thủy tức là Gió và Nước, là học thuyết chuyên nghiên cứu sự ảnh hưởng của Địa lý đến đời sống hoạ phúc của con người. Là sự ảnh hưởng của hướng gió, khí, mạch nước đến mỗi cá nhân. Phong Thuỷ có vai trò rất to lớn, tuy nhiên nó chỉ hỗ trợ, có tác dụng cải biến chứ không thể làm thay đổi hoàn toàn mệnh vận...</p> 
					<h2 class="title" style="margin-top:15px">VẬT PHẨM PHONG THỦY</h2>
					<div class="ha">
						<a href=""><img width="50px" height="50px" src="images/products/h337g-song-dao-hong-trang1.jpg"></a>
					</div>
					<h3 class="bv">
						<a href="">Đào gỗ - trấn áp ma quỷ, kéo dài tuổi thọ</a>
					</h3>
					<div class="ha">
						<a href=""><img width="50px" height="50px" src="images/products/hoa-phu-dung.jpg"></a>
					</div>
					<h3 class="bv">
						<a href="">Phù dung – muôn hoa tàn úa một mình khoe hương</a>
					</h3>
					<div class="ha">
						<a href=""><img width="50px" height="50px" src="images/products/dept.jpg"></a>
					</div>
					<h3 class="bv">
						<a href="">Dê Phong Thủy, biểu tượng của cát tường may mắn và tránh thị phi</a>
					</h3>
					<div class="ha">
						<a href=""><img width="50px" height="50px" src="images/products/qua-cau-pha-le.jpg"></a>
					</div>
					<h3 class="bv">
						<a href="">Cầu pha lê mang may mắn vào nhà</a>
					</h3>
					<div class="ha">
						<a href=""><img width="50px" height="50px" src="images/products/hu-tai-loc.jpg"></a>
					</div>
					<h3 class="bv">
						<a href="">Hũ vàng biểu tượng của tài lộc và tiền bạc trong phong thủy</a>
					</h3>
					<div class="ha">
						<a href=""><img width="50px" height="50px" src="images/products/ty-huu-phong-thuy-y0_12.jpg"></a>
					</div>
					<h3 class="bv">
						<a href="">Tỳ Hưu Tài Lộc – Gần 50 mẫu tỳ hưu đẹp và hấp dẫn nhất</a>
					</h3>
					<div class="ha">
						<a href=""><img width="50px" height="50px" src="images/products/guongbatquai.gif"></a>
					</div>
					<h3 class="bv">
						<a href="">Vật phẩm phong thủy trấn trạch</a>
					</h3>
				</div>	
				<div class="tools">
						<h2 class="title">Công cụ</h2>
						<ul>
							<li><a href="#" >Xem bói tình yêu</a></li>
							<li><a href="#" >Xem nốt ruồi</a></li>
							<li><a href="#" >Xem chỉ tay</a></li>
							<li><a href="#" >Xem tuổi vợ chồng</a></li>
							<li><a href="#" >Xem thời vận</a></li>
							<li><a href="#" >Xem tuổi xây nhà</a></li>
							<li><a href="#" >Xem số xe đẹp</a></li>
							<li><a href="#" >Xem năm sinh con</a></li>
							<li><a href="#" >Xem ngày tốt xấu</a></li>
							<li><a href="#" >Xem bói Ai Cập</a></li>
							<li><a href="#" >Chọn trang phục</a></li>
							<li><a href="#" >Gieo quẻ dịch số</a></li>
							<li><a href="#" >Lịch vạn niên</a></li>
							<li><a href="#" >Xem hướng nhà</a></li>
							<li><a href="#" >Xem sao chiếu mệnh</a></li>
							<li><a href="#" >Xem phước lỗ ban</a></li>
							<li><a href="#" >Đổi ngày âm dương</a></li>
						</ul>
						<h2 class="title" style="margin-top:15px">Tử vi 2017</h2>
						<ul>
							<li><a href="#" >Tử vi 2017 Đinh Dậu</a></li>
							<li><a href="#" >Thái Ất tử vi 2017</a></li>
							<li><a href="#" >Tử vi 2017 tuổi tý</a></li>
							<li><a href="#" >Tử vi 2017 tuổi sửu</a></li>
							<li><a href="#" >Tử vi 2017 tuổi dần</a></li>
							<li><a href="#" >Tử vi 2017 tuổi mão</a></li>
							<li><a href="#" >Tử vi 2017 tuổi thìn</a></li>
							<li><a href="#" >Tử vi 2017 tuổi tị</a></li>
							<li><a href="#" >Tử vi 2017 tuổi ngọ</a></li>
							<li><a href="#" >Tử vi 2017 tuổi mùi</a></li>
							<li><a href="#" >Tử vi 2017 tuổi thân</a></li>
							<li><a href="#" >Tử vi 2017 tuổi dậu</a></li>
							<li><a href="#" >Tử vi 2017 tuổi tuất</a></li>
							<li><a href="#" >Tử vi 2017 tuổi hợi</a></li>
						</ul>
						<h2 class="title" style="margin-top:15px">Vật phẩm</h2>
						<ul>
							<li><a href="#" >Tỳ Hưu Bắc Kinh</a></li>
							<li><a href="#" >Tỳ Hưu Độc Ngọc</a></li>
							<li><a href="#" >Tỳ Hưu Ngọc Phỉ Thúy</a></li>
							<li><a href="#" >Thiền Thừ Tây Tạng</a></li>
							<li><a href="#" >Thiền Thừ Tân Cương</a></li>
							<li><a href="#" >Linh vật phong thủy</a></li>
							<li><a href="#" >Trang sức phong thủy</a></li>
							<li><a href="#" >Đá quý phong thủy</a></li>
							<li><a href="#" >Vật phẩm may mắn</a></li>
							<li><a href="#" >Ý nghĩa vật phẩm</a></li>
							<li><a href="#" >Vật phẩm năm mới</a></li>
							<li><a href="#" >Hệ thống mua hàng</a></li>
							<li><a href="#" >5 lý do để mua hàng</a></li>
						</ul>
				</div><!-- end .tools -->
			</div><!-- end .rows -->
			
		</div>
		
		</div>
		<!-- end #wrapper -->
	</body>
</html>